# Local SQLite (default for quick demo)
#DATABASE_URL="file:./dev.db"

# Supabase Postgres (recommended for production)
DATABASE_URL="postgresql://postgres.prnsphecserglmgpjnla:[YOUR-PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.prnsphecserglmgpjnla:[YOUR-PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"

AUTH_SECRET=""
NEXT_PUBLIC_APP_NAME="iProjectX"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
